.container {
    width: 150px;
    height: 220px;
    background-color: white;
    background-image: URL("../../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 5px solid white;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.5);
    transition: 0.3s;

    /*  */
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
        linear-gradient(225deg, #444cf7 25%, transparent 25%),
        linear-gradient(45deg, #444cf7 25%, transparent 25%),
        linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);

    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    /*  */
}
