.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;

    height: 150px;

    max-height: 25vh;

    border: 1px solid black;

    border-radius: 6px;

    transition: 0.3s;

    background-color: #ffffff;

    transition: transform 1.3s;
    transform-style: preserve-3d;
}

.reverse {
    position: relative;
    width: 90%;
    height: 94%;
    background-color: white;
    border-radius: 6px;
    background-color: rgb(48, 48, 48);
    background: linear-gradient(
            45deg,
            #000000 10%,
            transparent 11%,
            transparent 89%,
            #000000 90%
        ),
        linear-gradient(
            135deg,
            #000000 10%,
            transparent 11%,
            transparent 89%,
            #000000 90%
        ),
        radial-gradient(circle, transparent 25%, #616161 26%),
        linear-gradient(
            45deg,
            transparent 46%,
            #000000 47%,
            #000000 52%,
            transparent 53%
        ),
        linear-gradient(
            135deg,
            transparent 46%,
            #000000 47%,
            #000000 52%,
            transparent 53%
        );
    background-size: 1em 1em;
    background-color: #434141;
    opacity: 1;
}

.reverse::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: URL("../../assets/white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slide {
    animation-duration: 1.5s;

    animation-name: slidein;
}

.flip {
    animation: flip 1s;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-left: 200%;
        margin-bottom: 70%;
        transform: rotate(160deg);
        /* width: 300%; */
    }

    to {
        margin-left: 0%;
        margin-bottom: 0%;
        transform: rotate(0deg);
        /* width: 100%; */
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
        z-index: 1;
    }
    50% {
        transform: rotateY(-90deg);
        opacity: 1;
        z-index: 1;
    }
    52% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 150px;

        height: 200px;
    }
}
