.container {
    left: 0;
    top: 0;
    width: 150px;
    height: 220px;
    max-height: 25vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 6px;
    border: solid 1px black;
    box-shadow: 3px 3px 5px rgba(245, 245, 245, 0.5);
    transition: 1.3s;
    position: absolute;

    animation-duration: 1.5s;
    animation-name: slidein;
}

.top {
    align-self: flex-start;
}

.bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}
.center::after {
    font-size: 5em;
}

.card {
    margin: 3% 3%;
}

@keyframes slidein {
    from {
        margin-left: 200%;
        margin-bottom: 70%;
        transform: rotate(160deg);
        /* width: 300%; */
    }

    to {
        margin-left: 0%;
        margin-bottom: 0%;
        transform: rotate(0deg);
        /* width: 100%; */
    }
}

.card::before {
    font-weight: bold;
    font-style: italic;
    content: attr(data-rank);
}
.Spades::after {
    content: "\2660";
    color: black;
}
.Hearts::after {
    content: "\2665";
    color: red;
}
.Diamonds::after {
    content: "\2666";
    color: red;
}
.Clubs::after {
    content: "\2663";
    color: black;
}
