.container {
    left: 0;
    top: 0;
    width: 100px;

    height: 150px;

    max-height: 25vh;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;
    border-radius: 0.4em;
    border: solid 1px black;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.03s; */
    transform-style: preserve-3d;
    position: absolute;
}

.slide {
    animation-duration: 1.5s;
    animation-name: slidein;
}

.top {
    align-self: flex-start;
}

.bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}
.center::after {
    font-size: 3em;
}

.card {
    margin: 3% 3%;
}

.rotate90 {
    animation: rotate 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.acescore {
    position: absolute;
    font-weight: bold;
    left: -20%;
    top: 50%;
    transform: translateY(-50%) rotateZ(-90deg);
    text-transform: uppercase;
    opacity: 0;

    filter: opacity(0.7);
    transition: 0.3s;
}

.container:hover .acescore {
    opacity: 1;
}

@keyframes slidein {
    from {
        margin-left: 500%;
        margin-top: -400%;
        margin-bottom: 70%;
        transform: rotate(160deg);
    }

    to {
        margin-left: 0%;
        margin-bottom: 0%;
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    from {
        margin-left: 500%;
        margin-top: -400%;

        transform: perspective(500px) rotate(360deg);
    }

    to {
        margin-left: 25%;
        margin-top: 0%;
        transform: perspective(500px) rotate(90deg);
    }
}

.card::before {
    font-weight: bold;
    font-style: italic;
    content: attr(data-rank);
}
.Spades::after {
    content: "\2660";
    color: black;
    text-shadow: -0px 0px 1px black;
}
.Hearts::after {
    content: "\2665";
    color: red;
    text-shadow: -0px 0px 1px red;
}
.Diamonds::after {
    content: "\2666";
    color: red;
    text-shadow: -0px 0px 1px red;
}
.Clubs::after {
    content: "\2663";
    color: black;
    text-shadow: -0px 0px 1px black;
}

.flip {
    animation: flip 0.5s;
    transform-style: preserve-3d;
    /* animation-delay: 1s; */
    /* transition: 0.2s; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flip {
    0% {
        transform: perspective(500px) rotateY(90deg);
    }

    100% {
        transform: perspective(500px) rotateY(0deg);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 150px;
        height: 200px;
    }
    .center::after {
        font-size: 5em;
    }
}
