.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.641);
    z-index: 5;
    transition: 0.5s;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 30%;
    background: rgba(217, 224, 217, 0.473);
    box-shadow: 0 18px 22px 10px rgba(131, 142, 132, 0.203);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: whitesmoke;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.btn {
    color: #fff;
    text-shadow: -1px 2px black;
    width: 100px;
    padding: 1% 2%;
    margin: 3% 0.5%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0px 2px 4px black;
    cursor: pointer;
    transition: 0.5s;
}

.txt {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(227, 225, 225);
    text-shadow: 1px 1px rgb(100, 99, 99);
}

.score {
    color: #c52535;
    font-weight: 900;
}

.btn:hover {
    filter: drop-shadow(6px 6px 1px black);
}

.btn.color1 {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn.color2 {
    background-color: #007bff;
    border-color: #007bff;
}
.btn.color3 {
    background-color: #248c46;
    border-color: #248c46;
}

@media screen and (min-width: 1024px) {
    .modal {
        width: 40%;
        height: 20%;
        max-width: 550px;
    }

    .btn {
        width: 140px;
    }

    .actions {
        max-width: 450px;
    }
}
