.token {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: relative;
    border: 0.3em dashed white;
    transition: all 0.5s ease;
    backface-visibility: hidden;
    cursor: pointer;
    text-shadow: 1px 2px black;

    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);

    box-shadow: -10px 10px 4px #1a1a1a;
}

.token::after {
    box-sizing: border-box;
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;

    border-radius: 50%;
    border: 0.3px solid #484747;
}

.token:hover {
    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg)
        translateZ(0.5em);
}

.token.active {
    transform: rotateZ(0deg) translateZ(0.5em);

    animation: blink infinite 2s;
}

.token.inactive {
    filter: brightness(20%);
    pointer-events: none;
}

@keyframes blink {
    0% {
        box-shadow: 0px 0px 10px whitesmoke;
    }

    50% {
        box-shadow: 0px 0px 5px whitesmoke;
    }

    100% {
        box-shadow: 0px 0px 10px whitesmoke;
    }
}

@media screen and (min-width: 1024px) {
    .token {
        margin: 0.5em;

        font-size: 1.5em;

        width: 90px;
        height: 90px;
        border: 0.5em dashed white;
    }
}
