.container {
    position: absolute;
    top: 35%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    /* flex-direction: column; */
    transition: 1.5s;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .container {
        position: relative;
        left: auto;
        top: auto;
        flex-direction: row;
        margin-top: 0;
    }
}
