.container {
    position: relative;
    color: white;
}

.hand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;

    color: #82cac0;

    text-shadow: 2px 3px 0px #27434f;
    animation: fadeIn 1s ease-in;

    width: 100%;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;

    left: 0%;
    top: 0%;

    z-index: 10;

    transition: 1s;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
