* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.App {
    text-align: center;
    background-color: rgb(35, 83, 35);
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-image: url(../assets/michal-soukup-k2OGxffv3VY-unsplash.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw; */
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
