/* .btn {
    background-color: rgb(27, 47, 49, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;

    font-weight: 600;
    margin: 3% 0.5%;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;

    border: none;

    border-radius: 50px;

    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 0.648));
}

.btn.color3 {
    color: rgb(73, 197, 114);
}
.btn.color3:hover {
    color: rgb(73, 197, 114);
    border-color: rgb(76, 160, 104);
    text-shadow: 2px 2px 4px rgb(17, 43, 24);
    box-shadow: 0 0 8px 1px rgba(36, 140, 70, 0.375),
        0 0 7px 4px rgba(36, 140, 70, 0.7) inset;
}

.btn.color2:hover {
    color: rgb(128, 179, 247);
    border-color: rgb(47, 90, 135);
    text-shadow: 2px 2px 4px rgb(0, 88, 160);
    box-shadow: 0 0 8px 1px rgba(0, 123, 255, 0.375),
        0 0 7px 4px rgba(0, 123, 255, 0.7) inset;
}
.btn.color2 {
    color: rgb(128, 179, 247);
}

.btn.color1 {
    color: rgb(182, 70, 81);
}
.btn.color1:hover {
    color: rgb(182, 70, 81);
    border-color: rgb(182, 70, 81);
    box-shadow: 0 0 8px 1px rgba(220, 53, 70, 0.375),
        0 0 7px 4px rgba(220, 53, 69, 0.7) inset;
}

.btn.disabled {
    filter: brightness(40%);
    pointer-events: none;
}

@media screen and (min-width: 1024px) {
    .btn {
        color: #fff;

        text-shadow: -1px 2px black;

        width: 180px;
        padding: 2% 4%;
        margin: 3% 1%;
    }
} */

.btn {
    color: red;
    /* background-color: #48abe0; */
    color: #fff;
    text-shadow: -1px 2px black;
    width: 140px;
    padding: 1% 2%;
    margin: 3% 0.5%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0px 2px 4px black;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    filter: drop-shadow(6px 6px 1px black);
}

.btn.color1 {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn.color2 {
    background-color: #007bff;
    border-color: #007bff;
}
.btn.color3 {
    background-color: #248c46;
    border-color: #248c46;
}

.btn.disabled {
    filter: brightness(40%);
    pointer-events: none;
}

@media screen and (min-width: 1024px) {
    .btn {
        color: #fff;

        text-shadow: -1px 2px black;

        width: 180px;
        padding: 2% 4%;
        margin: 3% 1%;
    }
}
