.container {
    position: absolute;
    left: -40%;
    top: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background: rgb(191, 164, 84);
    box-shadow: inset 2px 4px 5px 0px #fffefcce, inset 0px 0px 5px 2px #1b1b1aa2,
        0px 10px 4px #1a1a1a;
    background: linear-gradient(90deg, #e5d786 0%, #cc992e 35%);
    animation: bounce 1s infinite;
}

.txt {
    font-weight: bold;
    font-size: 1.5em;
    color: #feffbf;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.705);
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
        box-shadow: inset 3px 4px 5px 0px #fffefcce,
            inset 0px 0px 5px 2px #1b1b1aa2, 0px 15px 15px #1a1a1a;
    }

    50% {
        transform: translateY(20%);
        box-shadow: inset 2px 4px 5px 0px #fffefcce,
            inset 0px 0px 8px 2px #1b1b1aa2, 0px 5px 5px #1a1a1a;
    }

    100% {
        transform: translateY(0%);
        box-shadow: inset 3px 4px 5px 0px #fffefcce,
            inset 0px 0px 5px 2px #1b1b1aa2, 0px 15px 15px #1a1a1a;
    }
}
