.container {
    position: absolute;
    left: -20%;
    top: 40%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    /* background: rgb(191, 164, 84); */
    background: #82cac0;
    box-shadow: inset 2px 4px 5px 0px #fffefcce, inset 0px 0px 5px 2px #1b1b1aa2,
        0px 10px 4px #1a1a1a;
    background: linear-gradient(102deg, #82cac0 0%, #0b8473 35%);
    /* background: linear-gradient(90deg, #e5d786 0%, #cc992e 35%); */
    animation: bounce 1s infinite;
    transition: 0.5s;
}

.txt {
    font-weight: bold;
    font-size: 1em;
    /* color: #feffbf; */
    color: #fcfcfc;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.705);
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
        box-shadow: inset 3px 4px 5px 0px #fffefcce,
            inset 0px 0px 5px 2px #1b1b1aa2, 0px 15px 15px #1a1a1a;
    }

    50% {
        transform: translateY(20%);
        box-shadow: inset 2px 4px 5px 0px #fffefcce,
            inset 0px 0px 8px 2px #1b1b1aa2, 0px 5px 5px #1a1a1a;
    }

    100% {
        transform: translateY(0%);
        box-shadow: inset 3px 4px 5px 0px #fffefcce,
            inset 0px 0px 5px 2px #1b1b1aa2, 0px 15px 15px #1a1a1a;
    }
}

.container:hover {
    scale: 1.5;
    box-shadow: inset 3px 5px 10px 3px #fffefcce,
        inset 0px 0px 6px 3px #1b1b1aa2, 0px 8px 10px #1a1a1a;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 3.2em;
        height: 3.2em;
        left: -40%;
        top: 50%;
    }

    .txt {
        font-size: 1.5em;
    }
}
